
<%= form_with model: website do |form| %>
  <div>
    <%= form.label :domain_name %>:
    <%= form.text_field :domain_name %>
  </div>

  <div>
    <%= form.label :rkn_status %>:
    <%= form.check_box :rkn_status %>

  </div>
  <div>
    domain_expires_date:
  <%= form.text_field :domain_expires_date %>
    (example: <input type="text" value="2021-01-04 14:15:23 UTC">)
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>



<!--<form>-->
<!--  <div class="form-group">-->
<!--    <label for="formrow-firstname-input">First name</label>-->
<!--    <input type="text" class="form-control" id="formrow-firstname-input">-->
<!--  </div>-->

<!--  <div class="form-group">-->

<!--    <div class="custom-control custom-checkbox">-->
<!--      <input type="checkbox" class="custom-control-input" id="formrow-customCheck">-->
<!--      <label class="custom-control-label" for="formrow-customCheck">Check me out</label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <button type="submit" class="btn btn-primary w-md">Submit</button>-->
<!--  </div>-->
<!--</form>-->