<%= form_with model: website do |form| %>
  <div>
    <%= form.label :domain_name %><br>
    <%= form.text_field :domain_name %>
  </div>

  <div>
    <%= form.label :rkn_status %><br>
    <%= form.check_box :rkn_status %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>