<div class="container-fluid">


  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>It will seem like simplified</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="/assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="/assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 text-truncate">admin</h5>
              <p class="text-muted mb-0 text-truncate">teya-project.com</p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">

                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15"><%= @websites.count %></h5>
                    <p class="text-muted mb-0">Websites</p>
                  </div>
                  <div class="col-6">
                    <h5 class="font-size-15"> <#%= access_key = ENV["bw_access_key"]; secret_key = ENV["bw_secret_key"]; command = "curl -Ss -H \'X-Access-Key: #{access_key}\' -H \'X-Secret-Key: #{secret_key}\' -X GET \"https://api.betwinneraffiliates.com/v2/affiliates/wallets\""; affapi = `#{command}`; affapi = JSON.parse(affapi); "$ #{ if affapi['success'] == true then affapi['payload'].first['available_balance'] else "need api key" end }" %></h5>
                    <p class="text-muted mb-0">BW Balance</p>
                  </div>
                </div>
                <div class="mt-4">
                  <a class="btn btn-primary waves-effect waves-light btn-sm" href="<%= update_all_path %>">Update All</a>
                  <a class="btn btn-primary waves-effect waves-light btn-sm" href="<%= load_demo_path %>">Load Demo</a>
                  <a class="btn btn-primary waves-effect waves-light btn-sm" href="<%= destroy_all_path %>">Destroy All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->


      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Need renew</h4>
          <table>
            <tbody>
            <% Website.where.not(domain_expires_date: nil).each do |website| %>
              <% if (website.domain_expires_date.to_date - Date.today).to_i < 30 %>
              <tr>
                <td width="55%">
                  <a href="/websites/<%= website.id %>/edit/"><span class="font-size-14"><%= Idna.to_unicode(website.domain_name) %></span></a>

                </td>
                <td width="45%">
                  <%= (website.domain_expires_date.to_date - Date.today).to_i  %> d to exp
                </td>
                <td align="right">
                  <a href="/websites/<%= website.id %>/whois_update/"><span class="badge badge-soft-success font-size-12"><%= raw("<i class=\"bx bx-check-double font-size-16 align-middle mr-2\"></i> recheck") %></span></a>
                </td>
              </tr>
            <% end %>
            <% end %>
<!--              <tr>-->
<!--              <td width="55%">-->
<!--                <a href="/websites/3"><span class="font-size-14">1xbet.com</span></a>-->
<!--                2020-12-26 06:21:09 UTC-->
<!--              </td>-->

<!--              <td width="45%" align="right">-->
<!--                <a href="/websites/3/rkn_ignore/"><span class="badge badge-soft-success font-size-12"><i class="bx bx-check-double font-size-16 align-middle mr-2"></i> Done</span></a>-->
<!--              </td>-->
<!--            </tr>-->
            </tbody>
          </table>
        </div>
      </div>
      <!-- end card -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Need to change domain</h4>
          <table>
            <% Website.where(rkn_status: 1, rkn_check_ignore: 0).each do |website| %>
              <tr>
                <td width="55%">
                  <a href="/websites/<%= website.id %>/edit"><span class="font-size-14"><%= Idna.to_unicode(website.domain_name) %></span></a>
                </td>
                <td width="45%">
                  <%= (Date.today - website.updated_at.to_date).to_i  %> d ago
                </td>
                <td width="" align="right">
                  <a href="<%= website_path(website) %>/rkn_ignore/"><span class="badge badge-soft-success font-size-12"><%= raw("<i class=\"bx bx-check-double font-size-16 align-middle mr-2\"></i> done") unless website.rkn_check_ignore %></span></a>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <!-- end card -->

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body">
          <div class="row">
          <div class="col xl-8">
          <h2 class="mb-4">My Websites</h2>
          </div>
          <div class="col xl-4 text-sm-right">
          <button onclick="location.href='<%= add_domains_path %>'" type="button" class="btn btn-primary w-xs"><i class="fas fa-plus "></i> Add Websites</button>
          </div>
          </div>
          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
              <thead class="thead-light">
              <tr>
                <th scope="col">Domain Name</th>
                <th scope="col">To expiration</th>
                <th width="10%">RKN check OFF</th>
              </tr>
              </thead>
              <tbody>
              <% @websites.each do |website| %>
                <tr>
                  <td><a href="/websites/<%= website.id %>/edit/"><span class="font-size-14"><%= Idna.to_unicode(website.domain_name) %></span></a> <%= raw "<img src=\"/assets/images/rkn.png\" width=\"17px\" style=\"margin-left: 10px\" title=\"Banned\">" if website.rkn_status %></td>
                  <td><%= if website.domain_expires_date == nil then raw "<span class=\"badge badge-soft-dark font-size-12\">nil</span>" elsif (website.domain_expires_date == "unknown") then raw "<span class=\"badge badge-soft-dark font-size-12\">unknown</span>" else (website.domain_expires_date.to_date - Date.today.to_date).to_i end  %></td>
                  <td><a href="<%= website_path(website) %>/rkn_ignore/"><span class="badge badge-dark font-size-12"><%= "TRUE" if website.rkn_check_ignore %></span><span class="badge badge-soft-dark font-size-12"><%= "FALSE" unless website.rkn_check_ignore %></span></a></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div>