<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h1 class="mb-0 font-size-18">Websites</h1>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">Layouts</a></li>
          <li class="breadcrumb-item active">Websites</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- end page title -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="media">
              <div class="mr-3">
                <img src="/assets/images/users/avatar-1.jpg" alt="" class="avatar-md rounded-circle img-thumbnail">
              </div>
              <div class="media-body align-self-center">
                <div class="text-muted">
                  <p class="mb-2">Welcome to teya-project.com</p>
                  <h5 class="mb-1">John Doe</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 align-self-center">
            <div class="text-lg-center mt-4 mt-lg-0">
              <div class="row">
                <div class="col-4">
                  <div>
                    <p class="text-muted text-truncate mb-2">Total Websites</p>
                    <h5 class="mb-0"><%= @websites.count %></h5>
                  </div>
                </div>
                <div class="col-4">
                  <div>
                    <p class="text-muted text-truncate mb-2">Total Banned</p>
                    <h5 class="mb-0"><%= Website.where(rkn_status: 1).count %></h5>
                  </div>
                </div>
                <div class="col-4">
                  <div>
                    <p class="text-muted text-truncate mb-2">Need to unban</p>
                    <h5 class="mb-0"><%= Website.where(rkn_status: 1, rkn_check_ignore: 0).count %> <%= n = Website.where(rkn_status: 1, rkn_check_ignore: 0).count; raw "<span style=\"margin-left: 10px; font-size:24px;\">🧨</span>" if n >= 1 %></h5>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="clearfix  mt-4 mt-lg-0">
              <div class="dropdown float-right">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bx bxs-cog align-middle mr-1"></i> Functions
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="<%= new_website_path %>">Add Domain</a>
                  <a class="dropdown-item" href="<%= add_domains_path %>">Add Multiple Domains</a>
                  <a class="dropdown-item" href="<%= update_all_path %>">Update All Domains</a>
                  <hr>
                  <a class="dropdown-item" href="<%= load_demo_path %>">Load Demo</a>
                  <a class="dropdown-item" href="<%= destroy_all_path %>">Destroy All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title mb-4">My Websites</h2>
        <div class="table-responsive">
          <table class="table table-centered table-nowrap mb-0">
            <thead class="thead-light">
            <tr>
              <th scope="col">Domain Name</th>
              <th scope="col">IGNORE RKN check</th>
            </tr>
            </thead>
            <tbody>
            <% @websites.each do |website| %>
              <tr>
                <td><a href="/websites/<%= website.id %>"><span class="font-size-14"><%= Idna.to_unicode(website.domain_name) %></span></a> <%= raw "<img src=\"/assets/images/rkn.png\" width=\"17px\" style=\"margin-left: 10px\" title=\"Banned\">" if website.rkn_status %></td>
                <td><a href="<%= website_path(website) %>/rkn_ignore/"><span class="badge badge-dark font-size-12"><%= "TRUE" if website.rkn_check_ignore %></span><span class="badge badge-soft-dark font-size-12"><%= "FALSE" unless website.rkn_check_ignore %></span></a></td>
              </tr>
            <% end %>
            </tbody>
          </table>

        </div>

        <!-- end table-responsive -->
      </div>

    </div>
  </div>
</div>

