<h1>Websites</h1>

<table class="table table-bordered table-hover" >
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Domain Name</th>
    <th scope="col">RKN status</th>
    <th scope="col">IGNORE RKN check</th>
  </tr>
  </thead>
  <tbody>
  <% @websites.each do |website| %>
    <tr>
      <th scope="row"><%= website.id %></th>
      <td><%= link_to website.domain_name, website %></td>
      <td><span class="badge bg-danger"><%= "BANNED" if website.rkn_status %></span></td>
      <td><a href="<%= website_path(website) %>/rkn_ignore/"><span class="badge bg-dark"><%= "TRUE" if website.rkn_check_ignore %></span><span class="badge bg-light text-dark"><%= "FALSE" unless website.rkn_check_ignore %></span></a></td>
    </tr>
  <% end %>
  </tbody>
</table>
<h4>Functions</h4>
<ul>
  <li><%= link_to "New Website", new_website_path %></li>
  <li><%= link_to "Add Multiple Domains", add_domains_path %></li>
  <li><%= link_to "Update All Domains", update_all_path %></li>
  <hr>
  <li><%= link_to "Load Demo", load_demo_path %></li>
  <li><%= link_to "Destroy All", destroy_all_path %></li>
</ul>
