<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8"/>
  <title>teya-project.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- App favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <!-- Bootstrap Css -->
  <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
  <!-- Icons Css -->
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
  <!-- App Css-->
  <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!--<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>-->
</head>

<body data-topbar="dark" data-layout="horizontal">

<!-- Begin page -->
<div id="layout-wrapper">

  <header id="page-topbar">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="/" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="/assets/images/logo.svg" alt="" height="22">
                                </span>
            <span class="logo-lg">
                                    <img src="/assets/images/logo-dark.png" alt="" height="17">
                                </span>
          </a>

          <a href="/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="/assets/images/logo-light.svg" alt="" height="22">
                                </span>
            <span class="logo-lg">
                                    <img src="/assets/images/logo-light.png" alt="" height="19">
                                </span>
          </a>
        </div>

        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-toggle="collapse" data-target="#topnav-menu-content">
          <i class="fa fa-fw fa-bars"></i>
        </button>


      </div>


    </div>
</div>
</header>

<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

      <div class="collapse navbar-collapse" id="topnav-menu-content">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="bx bx-file mr-2"></i> <span key="t-starter-page">Websites</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bx bx-layout mr-2"></i> <span key="t-horizontal">Item</span>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-auth" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bx bx-user-circle mr-2"></i> <span key="t-authentication">Item</span>
              <div class="arrow-down"></div>
            </a>
            <div class="dropdown-menu" aria-labelledby="topnav-auth">
              <a href="#" class="dropdown-item" key="t-login">Login</a>
              <a href="#" class="dropdown-item" key="t-register">Register</a>
              <a href="#" class="dropdown-item" key="t-recover-password">Recover Password</a>
              <a href="#" class="dropdown-item" key="t-lock-screen">Lock Screen</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">
      <%= yield %>
    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->


  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>document.write(new Date().getFullYear())</script>
          © teya-project.com
        </div>
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">
            <a href="https://github.com/teya-project"><img alt="GitHub followers" src="https://img.shields.io/github/followers/teya-project?label=teya-project&style=social"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="/assets/libs/metismenu/metisMenu.min.js"></script>-->
<!--<script src="/assets/libs/simplebar/simplebar.min.js"></script>-->
<!--<script src="/assets/libs/node-waves/waves.min.js"></script>-->

<!--<script src="/assets/js/app.js"></script>-->

</body>
</html>
